header nav{
    height: 80px;
}

.width{
    width: 6rem;
}

:root{
    --cl-orange: #ff8f00;
    --bg-light-blue: #5b55f3;
    --bg-dark-blue: rgb(32, 42, 70);
    --cl-gray: rgb(138, 138, 138);
}

.cl-orange{
    color: var(--cl-orange);
}

main{
    height: calc(100vh - 80px);
}

#container-sx{
    background-color: var(--bg-dark-blue);
    background-image: url( "./img/sidebar-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-light-blue{
    background-color: var(--bg-light-blue);
}

.offcanvas-end-1{
    --bs-offcanvas-width: 100%;
}

/* Tabella */
.w-10{
    width: 10%;
}

.rounded-2{
    border: solid rgb(138, 138, 138);
    color: var(--cl-gray);
    padding: 5px;
}

.accordion-item{
    border: 0;
    border-radius: none;
    border-bottom: 0.5px solid;
}






