header nav{
    height: 80px;
}

:root{
    --cl-orange: #ff8f00;
}

.cl-orange{
    color: var(--cl-orange);
}

main{
    height: calc(100vh - 80px);
    border: 2px dashed blue;
}

#container-sx{
    /* height: calc(100vh - 80px); */
    background-image: url(../assets/img\ /);
    border: 2px dashed red;
}